* {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    color: var(--dark-shades);
}

a {
    color: black;
    text-decoration: none;
    color: var(--dark-shades);
    font-family: 'Source Sans Pro', sans-serif;
}

a:hover {
    color: var(--dark-accent);
    border-color: var(--dark-accent);
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
}


/* VARIABLES */

:root {
    --primary-color:#86C8E3;
    --light-accent: #DDEEFF;
    --dark-accent:  #6F8AB7;
    --light-shades: #9BD1E4 ;
    --dark-shades:  #615D6C;
}


.image {
    width:100%;
}


/* NAV-BAR */



.nav-item {
    padding-left: 1.5rem;
}

.btn {
    background-color: var(--dark-accent);
    border-radius: 10px;
    padding: 10px;
    color: var(--light-accent);
    border-color: var(--dark-accent);
    
}

.btn:hover {
    background-color: var(--dark-shades);

}


/* HEADER */



.header {
    position: relative;
    display: inline-block;
    
}

.header-text {
    color: var(--dark-shades);
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 auto;
    text-align: center;
    width: 50%; /* Set the width of the positioned div */
    font-size: 30px;
    text-shadow: -1px -1px white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;

}

/* WELCOME HEADER*/

.welcome-container {
    margin: 2% 0;
    text-align: center;
}

.welcome-image {
    margin-bottom: 1%;
    width:5%;
    text-align: center;
  
}



/* ABOUT US */

.about-us-image {
    width: 30%;
    margin: 0 1% 0 1%;
    border-radius: 5%;
}